div {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	width: 70%;
	margin: auto;
}

.header { 
	margin-top: 2%;
	border-top: 1px solid #55557f;
	border-bottom: 1px solid #55557f;
	border-radius: 5px;
	padding: 5px;
	color: #8a7970;
	font-size: 1.3em;
	font-weight: 550;
	background-color: #f5f5f5;
	user-select: none;
}

.shpm {
	border-top: 1px solid #55557f;
	border-bottom: 1px solid #55557f;
	border-radius: 5px;
	padding: 5px;
	color: rgb(0, 0, 0);
	font-size: 1.3em;
	font-weight: 550;
	background-color: #f5f5f5;
}